<div class=page>
  <h1>Lista de Publica&ccedil;&otilde;es MTM-UFSC</h1>
  <br>
  <% @publications.each do |publication| %>
  <li>
    <%= raw publication.professors.collect {|p| 
      if p.institution == 'UFSC'
      link_to "<b>#{p.name}</b>".html_safe, p
      else
      link_to p.name, p
      end
      }.join(', ') %>, 
    <%= link_to publication.title, publication %>, <%= publication.journal %>, <%= publication.year %>
  </li>
  <% end %>
</div>
